# Langchain
langchain
langchain-core
langchain-community
langchain-openai
langchain_postgres
langsmith
langgraph
duckduckgo-search

# Others
python-dotenv
streamlit
python-docx

streamlit 
opencv-python-headless